* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: gold;
    text-align: center;
    font-size: 50px;
}
#startButton {
    font-size: 30px;
    /* padding: 10px, 20px;
    border: 2px, solid, black; */
}
#resetButton {
    font-size: 15px;
}
#questionBox {
    background-color: red;
    width: 1000px;
    text-align: center;
    height: 300px;
}
#flexContainer {
    background-color: navy;
    color: white;
    display: grid;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}
.answers {
    background-color: tan;
    border: 10px, solid, black;
    width: 400px;
    height: 100px;
    text-align: center;
}
#timeBox {
    background-color: purple;
    width: 200px;
    text-align: center;
    /* justify-content: center; */
}
#winScore {
    background-color: aqua;
    font-size: 20px;
    width: 200px;
    text-align: center;
}