* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
:root{
    --primary: rgb(30, 82, 64);
    --secondary: rgb(171, 74, 45);
    --accent: lightskyblue;
    --font: antiquewhite;
}
body {
     width: 100vw;
     background-color: var(--primary);
}
header {
    text-align: center;
    font-size: 50px;
    color: var(--font);
}
main {
    align-items: center;
}
.button {
    background-color: var(--accent);
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 15px;
    font-weight: bold;
}
.buttons {
    background-color: var(--accent);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 15px;
    font-weight: bold;
}
#startButton {
    font-size: 30px;
    /* padding: 10px, 20px;
    border: 2px, solid, black; */
}
#resetButton {
    font-size: 20px;
}
#questionBox {
    background-color: var(--secondary);
    text-align: center;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
}
h2 {
    color: var(--font);
    font-size: 36px;
    justify-content: center;
    text-align: center
}
#flexContainer {
    background-color: var(--secondary);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}
.answers {
    width: 90vw;
    margin: 10px 30px;
    text-align: center;
}
.answers button {
    margin: 10px 30px;
    padding: 12px 250px;
}
#timeBox {
    border: 2px solid var(--font);
    margin: auto;
    width: 800px;
    padding: 30px;
    border-radius: 15px;
}
span#timeLeft {
    color: var(--font);
    padding: 10px;
    height: 100px;
}
#results {
    background-color: var(--secondary);
    font-size: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}
#results p {
    display: flex;
    justify-content: center;
}
/* #winSpan {
    font-size: 100px;
    justify-content: center;
} */